%animation-container {
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0px;
  left: 0px;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
}

.waiter {
  @extend %animation-container;
  background: #f9faff;
  z-index: 1000;
  transition-delay: 0.3s;
  &.active {
    height: 80%;
  }
}

.overlay1 {
  background-color: #d6dcff;
  z-index: 999;
  @extend %animation-container;
  transition-delay: 0.2s;
  &.active {
    height: 90%;
  }
}

.overlay2 {
  $background: $scheme-secondary;
  background-color: $background;
  @extend %animation-container;
  z-index: 998;
  &.active {
    height: 100%;
  }
}

.text-anim {
  opacity: 1;
  position: absolute;
  display: flex;
  top: 30vh;
  padding: 5px 0px;
  left: calc(50% - 200px);
  width: 310px;
  @include tablet {
    left: calc(50% - 200px);
    width: 400px;
  }
  & img {
    position: absolute;
    right: calc(100% - 50px);
    display: block;
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #f9faff;
    width: 36px;
    @include tablet {
      width: 50px;
    }
  }
  & h3 {
    display: block;
    color: $scheme-secondary;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px auto;
    height: 30px;
    width: max-content;
    padding: 10px 0px;
    font-size: 18px;
    @include tablet {
      font-size: 25px;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: #f9faff;
      width: 100%;
      height: 30px;
      left: 0%;
      transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  &.active {
    & img {
      transition-delay: 0.8s;
      opacity: 1;
      right: -60px;
      z-index: 1001;
      transform: rotate(360deg);
    }
    & h3 {
      transition-delay: 0.8s;
      &:before {
        width: 0%;
        left: 100%;
        transition-delay: 0.8s;
      }
    }
  }

  &.hidden {
    opacity: 0;
    transition: 700ms all;
  }
}

@keyframes rotateImage {
  100% {
    transform: rotate(360deg);
  }
}

.page {
  &-enter {
    opacity: 1;
    position: relative;
  }

  &-enter-active {
    opacity: 0;
    position: absolute;
  }

  &-exit {
    opacity: 0;
    position: absolute;
  }

  &-exit-active {
    opacity: 1;
    position: relative;
  }
}
